<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12">
            <div class="container-fluid center-content">
                <div class="row">
                    <div class="col-xs-12 heading-container">
                        <h1 class="heading">
                        {{title}}
                        </h1>
                    </div>
                    <!--<router-outlet></router-outlet>-->
                    <app-cat-listing></app-cat-listing>
                </div>
            </div>        
        </div>        
    </div>
</div>        