.center-content{
    margin:0 auto;
    max-width: 650px;
    min-width: 320px;
    background: lightgray;
}

.heading{
    padding: 0 15px;
    text-align: center;
}

.heading-container{
    padding: 30px 0 50px 0;

}
