.results-container{
    padding-left: 30px;
}

.filter-container{
    padding-left: 30px;
}
.results-container-main-padding{
    padding-bottom:150px;
}

.row-padding{
    padding:15px;
}

.row-indent{
    padding-left:15px;
}